fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv
numpy
pillow
requests
tqdm
faiss-cpu
torch
torchvision
open_clip_torch
transformers
matplotlib
PicImageSearch
einops
duckduckgo-search
ddgs
beautifulsoup4
